header {
    display: inline block;
    width: 100%;
    height: 20vh;
    background-image: url(../img/logos.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.logo {
    height:20vh;
    padding: 0 0 0 2vw;
    
}
.nav{
    display: inline-block;
    width: 100%;
    height: 9vh;
    list-style: none;
    padding: 0 0 0 4vw;
}
.nav>li{
    display: inline-block;
    border: solid black 2px;
    width: 22%;
    height: 8vh;
    text-align: center;
    border-radius: 10px;
    opacity: 1;
}
.nav>li>a {
    position: relative;
    top: 14%;
    font-family: 'Pacifico', cursive;
}

body {
    border: solid black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
