body{
    background-color: black;
}
header {
    display: inline block;
    width: 100%;
    max-width: 100%;
    background-image: url(../img/logos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
}

.logo {
    height:20vh;
    padding: 0 0 0 2vw;
    
}
main {
    display: block;
    width: 100%;
    height: 700px;
    max-width: 100%;
    background-image: url("../img/fun.jpg");
    background-repeat: repeat;
    background-size: 100%;
    position: relative;
    top: -1vh;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
}
nav{
    display: inline-block;
    width: 100%;
    height: 20vh;
    margin-top: 10px;
    position: relative;
    top: 10px;

}
nav>ul{
     display: inline-block;
    width: 100%;
    height: 20vh;
    
    list-style: none;
    padding: 0;
}
nav>ul>li{
      display: inline-block;
    border: solid black 2px;
    width: 18vw;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    margin: 0 0 10px 0;
 
    
}
nav>ul>li>a {
    position: relative;
    top: 14%;
    font-family: 'Pacifico', cursive;
    color: white;
    text-decoration: none;
    font-size: 100%;
}

.section {
    display: block;
    width: 100%;
    position: relative;
    left: 0vw;
    background-color: rgba(255, 241, 235, 0.7);
    border-radius: 10px;
}
footer {
    display: inline block;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: black;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
footer {
    display: block;
    width: 100%;
    position: relative;
    top: -25px;
    background-color: black;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

footer>p {
    display: inline-block;
    color: white;
    position: relative;
    left: 50%;
    top: 50%;

}

.up {
    display: block;
    width: 35px;
    position: relative;
    left: 50%;
    font-size: 4ex;
    color: white;
}

.navF {
    display: block;
    position: relative;
    width: 15vw;
    margin: -95px 0px 0px 10px;
    padding: 0px 0px 10px;


}

.navF>ul>li>a {
    color: white;
    text-decoration: none;
}

.vkm{
    display: inline-block;
    width: 520px;
    margin-top: 20px;
    
}
.img{
    margin: 20px 10px 10px 5px;
    width: 200px;
    float: left;
}
p{
   position: relative;
   top: 20px;
}

@media screen and (max-width: 320px) {
    .logo{
        width: 100px;
        height: 100px;
    }
    nav {
        top: 0px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;

    }
    main{
        height: 1520px;
    }

    .img {
        width: 96%;
    }
    nav>ul{
        margin: 0;
    }
    nav>ul>li {
        padding: 0px;
        width: 98%;
    }
    .section {
        position: relative;
        top: 250px;
        left: 0;
        width: 100%;
        height: 1180px;

    }
    section>ul {
        width: 93vw;
    }
    section>ul>li {
        width: 90vw;
    }
    .vkm>iframe{
    display: block;
    width: 300px;
    
}
    footer {
        display: block;
        position: relative;
        top: -25px;
    }
    footer>p {
        font-size: 1.4ex;
        position: relative;
        left: 80px;
        bottom: 20px;

    }
    .navF {
        display: none;
    }

    .up {
        position: relative;
        left: 140px;

        font-size: 1.3em;
    }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
   nav {
        top: 0px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;

    }
    main{
        height: 100%;
    }

    .img {
        width: 96%;
    }
    nav>ul{
        margin: 0;
    }
    nav>ul>li {
        padding: 0px;
        width: 98%;
    }
   

    section {
        position: relative;
        top: -6px;
        left: 1%;
        width: 98%;

    }
    footer {
        display: block;
        position: relative;
        top: -15px;
    }
    footer>p {
        font-size: 1.8ex;
        position: relative;
        left: 30%;
        bottom: 20px;

    }
    .navF {
        display: none;
    }

    .up {
        position: relative;
        left: 45%;
        font-size: 1.7em;
    }
.vkm{
    display: block;
    width: 100%;
}
    .vkm>iframe{
    display: block;
    width: 100%;
    
}
}



@media screen and (min-width: 451px) and (max-width: 1200px) {
     nav {
        top: 0px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;

    }
    .logo{
        width: 100px;
        height: 100px;
    }
    nav>ul{
        margin: 0;
    }
    nav>ul>li {
        padding: 0px;
        width: 98%;
    }
    .img {
        width: 40%;
    }
    .section {
        position: relative;
        top: 220px;
        left: 0px;
        width: 100%;
        font-size: 2.5ex;
        height: 780px;

    }
    footer {
        display: block;
        position: relative;
        top: -35px;
    }
    footer>p {
        font-size: 2ex;
        position: relative;
        left: 30%;
        bottom: 20px;

    }

    .up {
        position: relative;
        left: 45%;
        font-size: 2em;
    }

    main {
        height: 1150px;
    }
    .navF {
        display: none;
    }
 .vkm{
    display: block;
    width: 100%;
}
    .vkm>iframe{
    display: block;
    width: 100%;
    

    
}
}

