body {
    background-color: black;
}

header {
    display: inline block;
    width: 100%;
    height: 20vh;
    background-image: url(../img/logos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
}

.logo {
    height: 20vh;
    padding: 0 0 0 2vw;

}

main {
    display: block;
    width: 100%;
    height: 90vh;
    background-image: url("../img/fun.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    position: relative;
    top: -1vh;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;

}

nav {
    display: block;
    width: 15vw;
    height: 6vh;
    margin-top: 10px;
    position: relative;
    top: 10px;

}

nav>ul {
    list-style: none;
    padding: 0;
}

nav>ul>li {
    border: solid black 2px;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    margin: 0 0 10px 0;


}

nav>ul>li>a {
    position: relative;
    top: 14%;
    font-family: 'Pacifico', cursive;
    color: white;
    text-decoration: none;
    font-size: 100%;
}

section {
    display: block;
    width: 60vw;
    height: 50vh;
    position: absolute;
    top: 7vh;
    left: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 241, 235, 0.7);
    border-radius: 10px;
}

section>ul {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
}

section>ul>li {
    height: auto;
    list-style: none;
    border: solid black 5px;
    border-radius: 10px;
    margin: 0 0 5vh 0;

}

section>ul>li>p {
    font-family: untitled-font-1;
    content: '#';
    text-decoration: none;
    color: black;
}

section>ul>li>p>a {
    color: black;
}

section>ul>li>p::after {
    content: '#';
}

.img {
    width: 20vw;
    margin: 0px 5px 10px 5px;
    float: left;
}


footer {
    display: inline block;
    width: 100%;
    height: 20vh;
    position: relative;
    bottom: 0;
    background-color: black;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

footer>p {
    display: block;
    color: white;
    position: absolute;
    width: 180px;
    right: 2vw;
    top: 0;

}

.up {
    display: block;
    width: 35px;
    position: relative;
    left: 50%;
    font-size: 4ex;
    color: white;
}

.navF {
    display: block;
    width: 15vw;
    margin: 0;
    padding: 0;
    position: relative;
    top: -5vh;
    left: 5vw;
}

.navF>li>a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    header {
        margin: 0;
        padding: 0;
        height: 15vh;
        background: black;
    }
    .logo {
        height: 15vh;
        position: absolute;
        top: vh;
        left: 35vw;
    }
    nav {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        height: 35vh;
        position: relative;
        top: 5px;
        left: 0px;

    }
    nav>ul>li {
        border: solid black 2px;
        width:98%;
        height: 6vh;
        text-align: center;
        border-radius: 10px;
        background-color: black;
    }


    main {
        margin: 0;
        padding: 0;
        position: relative;
        height: 150vh;
    }
    section {
        margin: 0;
        padding: 0;
        position: relative;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 100vh;
    }

footer {
    display: inline block;
    width: 100%;
    height: 15vh;
}
footer>p{
    display: block;
    color:white;
    position:absolute;
    width: 180px;
    right: 2vw;
    top: 3vh;
    
}

.up{
    display: block;
    width: 35px;
    position: relative;
    top: 0;
    left: 40%;
    font-size: 4ex;
    color: white;
}
.navF{
    display:block;
    width: 15vw;
    position: relative;
    top: -9vh;
    left: 5vw;
}
.navF>li>a{
    color: white;
    text-decoration: none;

}
}
@media screen and (min-width: 321px) and (max-width: 560px) {
    header {
     margin: 0;
        padding: 0;
        height: 15vh;
        background: black;
    }
    .logo {
        height: 15vh;
        position: absolute;
        top: vh;
        left: 35vw;
    }
    nav {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        height: 35vh;
        position: relative;
        top: 5px;
        left: 0px;

    }
   nav>ul>li {
        width: 98%;
        border: solid black 2px;
        height: 6vh;
        text-align: center;
        border-radius: 10px;
        background-color: black;
    }

    main {
        margin: 0;
        padding: 0;
        position: relative;
        height: 170vh;
    }
    section {
        margin: 0;
        padding: 0;
        position: relative;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 120vh;
    }


footer {
    display: inline block;
    width: 100%;
    height: 15vh;
}
footer>p{
    display: block;
    color:white;
    position:absolute;
    width: 180px;
    right: 2vw;
    top: 3vh;
    
    
}
.up{
    display: block;
    width: 35px;
    position: relative;
    left: 40%;
    font-size: 4ex;
    color: white;
}
.navF{
    display:block;
    width: 15vw;
    position: relative;
    top: -9vh;
    left: 5vw;
}
.navF>li>a{
    color: white;
    text-decoration: none;

}
}
@media screen and (min-width: 561px) and (max-width: 800px) {
   header {
        margin: 0;
        padding: 0;
        height: 15vh;
        background: black;
    }
    .logo {
        height: 15vh;
        position: absolute;
        top: vh;
        left: 35vw;
    }
    nav {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        height: 35vh;
        position: relative;
        top: 5px;
        left: 0px;

    }
    nav>ul>li {
        border: solid black 2px;
        width:98%;
        height: 6vh;
        text-align: center;
        border-radius: 10px;
        background-color: black;
    }


    main {
        margin: 0;
        padding: 0;
        position: relative;
        height: 120vh;
    }
    section {
        margin: 0;
        padding: 0;
        position: relative;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 70vh;
    }
   

footer {
    display: inline block;
    width: 100%;
    height: 15vh;
}
footer>p{
    display: block;
    color:white;
    position:absolute;
    width: 180px;
    right: 2vw;
    top: 3vh;
    
    
}
.up{
    display: block;
    width: 35px;
    position: relative;
    left: 40%;
    font-size: 4ex;
    color: white;
}
.navF{
    display:block;
    width: 15vw;
    position: relative;
    top: -9vh;
    left: 5vw;
}
.navF>li>a{
    color: white;
    text-decoration: none;

}
}
