body {
    display: block;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: black;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.logo {
    height: 20vh;
    padding: 0 0 0 2vw;
    position: absolute;
    top: 7vh;
    z-index: 2;
}

h1{
    display: inline-block;
    position: absolute;
    top: 250px;
    right: 2%;
    z-index: 3;
 
}
.palec{
    font-family: untitled-font-1;
    content: 'a';
    color: white;
    font-size: 30px;
    position: absolute;
     top:280px;
    z-index: 4;
    right: 200px;
    

}

.palec:before{
    content: '*';
}
body>div{
    transition: all 1s;
    
}
body:hover .palec{
    position: absolute;
    top: 280px;
    right: 160px;
}
h1>a{
    list-style-type: none;
    color: white;
    text-decoration: none;
}
.background{
    display: none;
    background-image: url('../img/smallback.jpg');
}

@media screen and (max-width: 320px) {
    video{
        display: none;
    }
    .background{
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 30%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .logo{
        position: absolute;
        top: 0px;
        left:0px;
    }
    h1>a{
        position: absolute;
        top: 10vh;
        left: -65vw;
    }
    .palec{
        display:none;
    }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
    body{
        height:100%
    }
       video{
        display: none;
    }
    .background{
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 30%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .logo{
        position: absolute;
        top: 0px;
        left:0px;
    }
    h1>a{
        position: absolute;
        top: 23vh;
        left: -65vw;
    }
    .palec{
        display:none;
    }
}
