body {
    display: block;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: black;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.logo {
    height: 20vh;
    padding: 0 0 0 2vw;
    position: absolute;
    top: 7vh;
    z-index: 2;
}

h1{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 3;
 
}
.palec{
    font-family: untitled-font-1;
    content: 'a';
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    z-index: 4;
    right: 155px;
    

}

.palec:before{
    content: 'a';
}
body>div{
    transition: all 1s;
    
}
body:hover .palec{
    position: absolute;
    bottom: 50px;
    right: 140px;
}
h1>a{
    list-style-type: none;
    color: white;
    text-decoration: none;
}