body {
    background-color: black;
}
header {
    display: inline block;
    width: 100%;
    max-width: 100%;
    background-image: url(../img/logos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
}

.logo {
    height: 20vh;
    padding: 0 0 0 2vw;

}

main {
    display: block;
    width: 100%;
    max-width: 100%;
    background-image: url("../img/fun.jpg");
    background-repeat: repeat;
    background-size: 100%;
    position: relative;
    top: -1vh;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;

}

nav {
    display: block;
    width: 15vw;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    top: 10px;

}

nav>ul {
    list-style: none;
    padding: 0;
}

nav>ul>li {
    border: solid black 2px;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    margin: 0 0 10px 0;


}

nav>ul>li>a {
    position: relative;
    top: 14%;
    font-family: 'Pacifico', cursive;
    color: white;
    text-decoration: none;
    font-size: 100%;
}

section {
    display: block;
    width: 60vw;
    position: relative;
    top: -45vh;
    left: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 241, 235, 0.7);
    border-radius: 10px;
}

section>ul {
    padding: 0;
    margin: 0;
}

section>ul>li {
    list-style: none;
    border: solid black 5px;
    border-radius: 10px;
    margin: 0 0 5vh 0;
    
}


.img {
    width: 30vw;
    margin: 0px 5px 10px 5px;
    float: left;
}

footer {
    display: block;
    width: 100%;
    position: relative;
    top: -25px;
    background-color: black;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
footer>p{
    display:inline-block;
    color:white;
    position: relative;
    left: 50%;
    top: 50%;
    
}
.up{
    display: block;
    width: 35px;
    position: relative;
    left: 50%;
    font-size: 4ex;
    color: white;
}
.navF{
    display: block;
    position: relative;
    width: 15vw;
    margin: -95px 0px  0px 10px;
    padding: 0px 0px 10px ;
     
    
}

.navF>ul>li>a{
    color: white;
    text-decoration: none;
}
.youm {
    display: none;
    max-width: auto;
    position: relative;
    
}
.youtube {
    display: block;
    position: relative;
    left: 10px;
    margin-bottom: 10px;
    width: 90%;
    max-width: 1000px;
}
.youtube>iframe{
    height: 50vh;
    width: 70%;
    position: relative;
    left: 20%;
    
}


@media screen and (max-width: 320px) {
    nav {
        top: 0;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0px;

    }
    .logo{
        width: 100px;
        height: 100px;
    }

    .img {
        width: 96%;
    }
    nav>ul>li {
        margin: 3px;
        padding: 0px;
    }
    section {
        position: relative;
        top: -20px;
        left: 2px;
        width: 98%;

    }
    section>ul {
        width: 93vw;
    }
    section>ul>li {
        width: 90vw;
    }
    footer {
        display: block;
        position: relative;
        top: -35px;
    }
    footer>p {
        font-size: 1.4ex;
        position: relative;
        left: 80px;
        bottom: 20px;

    }
    .navF {
        display: none;
    }

    .up {
        position: relative;
        left: 140px;

        font-size: 1.3em;
    }
    .youtube{
        display: none;
    }
    .youm{
        display: block;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .logo{
        width: 100px;
        height: 100px;
    }
    nav {
        top: 0px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;

    }
    nav>ul>li {
        margin: 3px;
    }
    main {
        height: 100%;

    }
    .img {
        width: 97%;
    }

    section {
        position: relative;
        top: -6px;
        left: 1%;
        width: 98%;

    }
    footer {
        display: block;
        position: relative;
        top: -35px;
    }
    footer>p {
        font-size: 1.8ex;
        position: relative;
        left: 30%;
        bottom: 20px;

    }
    .navF {
        display: none;
    }

    .up {
        position: relative;
        left: 45%;
        font-size: 1.7em;
    }
    .youtube{
        display: none;
    }
    .youm{
        display: block;
    }
}

@media screen and (min-width: 481px) and (max-width: 1300px) {
    nav {
        top: 0px;
        display: inline-block;
        width: 98%;
        padding: 0;
        margin: 0;

    }
    nav>ul {
        margin: 0px;
        padding: 0px;
    }
    .img {
        width: 99%;
    }
    section {
        position: relative;
        top: 20px;
        left: 0px;
        width: 100%;
        font-size: 2.5ex;

    }
  footer {
        display: block;
        position: relative;
        top: -35px;
    }
    footer>p {
        font-size: 2ex;
        position: relative;
        left: 30%;
        bottom: 20px;

    }

    .up {
        position: relative;
        left: 45%;
        font-size: 2em;
    }

    main {
        height: 100%;
    }
    .navF {
        display: none;
    }
    .youtube>iframe{
        left: 10px;
        width: 100%;
    }

}





